# This file is for example purposes. 
# Create a 'secrets.properties' file for your actual keys.
# Add your OpenWeatherMap API Key here
OWM_API_KEY=your_real_api_key_here
ZIP_URL=https://example.com/your_audio_assets.zip
# Make sure to add ",US" to the city and state location
LOCATION1_QUERY=Waynesboro,PA,US
LOCATION2_QUERY=Ocean City,MD,US
